* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #8d6e63;
}

/* NAVBAR */
nav {
  display: flex;
  background-color: bisque;
  justify-content: space-around;
  height: 50px;
  align-items: center;
}
nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
}

nav ul li a {
  color: #7b3535;
  text-decoration: none;
}

nav ul li a:hover {
  color: #e5b579;
}
/* NAVBAR */

/* CARD */
.wrapper {
  display: flex;
  flex-direction: row;
  width: 75%;
  margin: 100px auto;
  justify-content: space-between;
  background-color: #7b3535;
  border-radius: 25px;
  box-shadow: 2px 2px 20px black;
}

.wrapper .nav-left {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 50px;
  width: 75%;
  justify-content: space-between;
}

.nav-left h1 {
  text-align: center;
  font-size: x-large;
  color: cornsilk;
}

.nav-left .story {
  text-align: justify;
  font-size: 25px;
  color: bisque;
}

.nav-left button {
  background-color: #e5b579;
  border: none;
  color: #7b3535;
  justify-content: center;
  margin: 20px auto;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.nav-left .first {
  text-decoration: none;
  color: #7b3535;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.nav-left h2,
a,
i {
  cursor: pointer;
  color: bisque;
  text-decoration: none;
  text-align: center;
}

.socialmedia {
  margin: 20px auto;
  cursor: pointer;
  font-size: 30px;
  color: #e5b579;
}

.wrapper .nav-right {
  display: flex;
  flex-direction: column;
  background-color: #e5b579;
  width: 50%;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 50px;
  border-radius: 25px;
  box-shadow: 2px 2px 20px black;
}

.myphoto {
  width: 75%;
  margin: 20px auto;
}

.nav-right p,
h3 {
  font-size: 100%;
  text-align: center;
  margin-bottom: 10px;
  color: #7b3535;
}
/* CARD */

/* BACKPAGE */

.title {
  margin-top: 30px;
  text-align: center;
  font-size: xx-large;
  color: bisque;
  font-family: copperplate;
}

form {
  width: 350px;
  margin: 50px auto;
}

form div {
  margin-top: 10px;
}

input,
textarea {
  width: 100%;
  margin-top: 5px;
  border: 1px solid #7b3535;
  background-color: bisque;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 2px 2px 5px black;
}
select {
  width: 105%;
  margin-top: 5px;
  border: 1px solid #7b3535;
  background-color: bisque;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 2px 2px 5px black;
  color: #7b3535;
}

label {
  font-weight: bold;
  font-size: 20px;
  color: #e5b579;
}

textarea {
  resize: none;
  height: 100px;
}

form div button {
  background-color: #e5b579;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  color: #7b3535;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 290px;
  cursor: pointer;
}
/* BACKPAGE */

/* PROJECT FORM */

.flex {
  display: flex;
  justify-content: space-between;
}

.startdate,
.enddate {
  width: 80%;
}

.startdate {
  margin-right: 20px;
}
.enddate {
  margin-left: 20px;
}

.technologies {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}

.tech {
  width: auto;
  margin-top: 0;
  height: auto;
}

.checkbox label {
  font-size: 15px;
  color: bisque;
  font-family: monospace;
}
/* PROJECT FORM */

/* PROJECT'S */

.content {
  background-color: rgb(95, 29, 29);
  padding: 20px;
  padding-bottom: 50px;
  margin: auto;
}

.bottom {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 350px;
  height: 450px;
  padding: 15px;
  margin: 15px;
  box-shadow: 2px 2px 20px black;
  border-radius: 10px;
  background-color: bisque;
}

.title-content {
  color: #7b3535;
  font-family: copperplate;
}

img {
  width: 30px;
}

.logo {
  width: 100%;
}

.duration {
  color: rgb(102, 101, 101);
}

.image {
  margin-right: 20px;
}

.edit,
.delete {
  padding: 10px 60px;
  color: #7b3535;
  background-color: #e5b579;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
}

#editbutton {
  margin-right: 30px;
}

.web {
  width: 300px;
}

.description {
  text-align: justify;
}

/* PROJECT'S */

/* BIG CONTENT */

.upper-content {
  padding: 50px;
  display: flex;
}

.upper-left {
  width: 60%;
}
.upper-foto {
  width: 100%;
}

.upper-right {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 20px;
  margin-left: 70px;
  color: #7b3535;
}

.title-duration {
  color: bisque;
  font-family: copperplate;
}
.main1 {
  display: flex;
  flex-direction: column;
}

.main2 {
  margin-top: 20px;
}

.satu-2,
.satu-3 {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.dua-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}
.lower-content {
  padding: 50px;
  text-align: justify;
  color: bisque;
  font-size: large;
  font-family: copperplate;
  word-spacing: 5px;
}

/* BIG CONTENT */
