<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Editing</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <style>
      body {
        background-color: #8d6e63;
      }
      .nav-link {
        color: #7b3535;
        font-family: copperplate;
      }
      .nav-link:hover {
        color: #e5b579;
      }
      .active {
        color: orange !important;
      }
      .btn.btn-success {
        color: bisque;
        background-color: #7b3535;
        border-color: #7b3535;
      }
      .btn.btn-success:hover {
        color: #7b3535 !important;
        background-color: #8d6e63 !important;
        border-color: #7b3535;
      }
      .btn.btn-success:active {
        color: #7b3535;
        background-color: bisque;
        border-color: #7b3535;
      }
      #btn-edit:hover {
        color: #e5b579 !important;
      }
      #btn-delete:hover {
        color: red !important;
      }
      @media only screen and (max-width: 1000px) {
        #div-3 {
          flex-direction: column !important;
        }
        .card-img-top.w-50 {
          width: 100% !important;
          border-bottom-left-radius: 0 !important;
          border-top-right-radius: 10px !important;
        }
      }
    </style>
  </head>
  <body>
    <!-- NAVBAR -->
    <nav
      class="navbar navbar-expand-lg bg-body-tertiary"
      style="background-color: bisque !important"
    >
      <div class="container-fluid">
        <a href="/"
          ><img
            src="../assets/img/logo-brand.png"
            alt="logo-brand"
            class="logo-brand"
            style="margin-right: 10px"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
          style="background-color: #7b3535"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                href="/index"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/addProjectBootstrap"
                >Add project
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/testi">Testimonials</a>
            </li>
          </ul>
        {{#if loggedIn}}
            <form method="post" action="/logOut" class="d-flex mx-1" role="search">
            <button class="btn btn-warning" type="submit">
              <a
                class="nav-link"
                style=style="color: #7b3535; font-family: copperplate;"
                >log out</a
              >
            </button>
          </form>
            {{/if}}
          <form class="d-flex" role="search">
            <button class="btn btn-success" type="submit">
              <a
                class="nav-link"
                href="/backpageBootstrap"
                style="color: bisque"
                >Contact Me</a
              >
            </button>
          </form>
        </div>
      </div>
    </nav>
    <!-- NAVBAR -->
    <!-- PROJECT FORM -->
    <div class="header w-100 mt-5 mb-5">
      <h1
        class="title text-center"
        style="color: bisque; font-family: copperplate"
      >
        Edit Your Project
      </h1>
    </div>
    <form method="post" action="/edited"
      {{!-- onsubmit="addBlog(event)" --}}
      class="mx-auto flex-column"
      style="width: 350px"
    > 
    <input value="{{data.id}}" name="id" hidden/>
      <div class="form-floating mb-3 mt-3">
        <input
          type="text"
          class="form-control border-0"
          id="title"
          placeholder="Password"
          style="
            background-color: bisque !important;
            box-shadow: 2px 2px 5px black;
          "
          name="tittle"
          value="{{data.tittle}}"
        />
        <label for="title" style="font-family: copperplate; color: #e5b579"
          >Project Name</label
        >
      </div>
      <div class="form-floating mb-3 mt-3">
        <textarea
          class="form-control w-100 border-0 rounded"
          style="
            background-color: bisque !important;
            box-shadow: 2px 2px 5px black;
            resize: none;
            height: 200px;
          "
          placeholder="Leave a comment here"
          id="description"
          name="content"
        >{{data.content}}</textarea>
        <label
          for="description"
          style="font-family: copperplate; color: #e5b579"
          >Description</label
        >
      </div>
      <div class="d-flex justify-content-between mb-3">
        <div class="startdate d-flex flex-column">
          <label
            for="startdate"
            style="font-family: copperplate; color: #e5b579"
            >Start Date</label
          >
          <input
            class="p-1 rounded border-0"
            type="date"
            id="startdate"
            style="
              background-color: bisque !important;
              box-shadow: 2px 2px 5px black;
            "
          />
        </div>
        <div class="enddated-flex d-flex flex-column">
          <label for="enddate" style="font-family: copperplate; color: #e5b579"
            >End Date</label
          >
          <input
            class="p-1 rounded border-0"
            type="date"
            id="enddate"
            style="
              background-color: bisque !important;
              box-shadow: 2px 2px 5px black;
            "
          />
        </div>
      </div>
     
      <div class="mb-3">
        <label
          for="input-image"
          class="form-label"
          style="font-family: copperplate; color: #e5b579"
          >Upload Image</label
        >
        <input
          class="form-control mb-3 border-0 rounded"
          type="file"
          id="input-image"
          style="
            background-color: bisque !important;
            box-shadow: 2px 2px 5px black;
          "
          name="image"
        />
      </div>
      <div class="d-flex justify-content-end">
        <button
          type="submit"
          class="btn btn-primary"
          style="
            color: #e5b579 !important;
            background-color: #7b3535 !important;
            border-color: #7b3535 !important;
          "
        >
          Edit
        </button>
      </div>
    </form>
    <!-- PROJECT FORM -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
